$c1: crimson;
$c2: rgb(204, 146, 177);
$c4: black;
$f1: arial;

* {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}


.logo {
    display: flex;
    align-content: center;
    width: 80%;
    padding-right: 85%;
    color: $c4;
    font-size: 60px;
    font-style: oblique;
    text-shadow: 4px 2px 4px $c1;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .logo{
        font-size: 1.9rem;
    }
    .products{
        font-size: 1.9rem;
    }
    .nav-item{
        font-size: 1.9rem;
    }
    .nav-link{
        font-size: 1.9rem;
    }
}

@media screen and(min-width:601px) and (max-width:900px){
    .logo{
        font-size: 1.95rem;
        align-items: center;
    }
    .products{
        font-size: 1.95rem;
        align-items: center;
    }
    .nav-item{
        font-size: 1.95rem;
    }
    .nav-link{
        font-size: 1.95rem;
    }
}

.logo strong {
    display: flex;
    width: 80%;
    color: $c1;
    text-shadow: 4px 2px 4px black;
}

.navbar-nav{
    margin-top: auto;
    align-items: center;
    align-content: center;
}

.nav-link {
    padding-top: 2px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;    
    color: $c4;
    align-items: center;
}


.nav-item{
    height: 200px;
    width: 200px;
    align-self: center;
}

.nav-item :hover {
    color: $c4;
    background-color: $c2;
}

.nav nav-tabs {
    background-color: $c3;
}

.nav nav-tabs :hover {
    color: pink;
    width: 25px;
}

.nosotros {
    align-content: center;
    margin-top: 5px;
    margin-bottom: 3px;
}

.container-sm {
    align-content: center;
    margin-bottom: 5px;
}

.container-md {
    align-content: center;
    margin-top: 5px;
}

.container-lg {
    align-content: center;
    margin-bottom: 5px;
}

.container-xl {
    align-content: center;
    margin-bottom: 5px;
}

.container-xxl {
    align-content: center;
    margin-bottom: 5px;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    background-color: pink;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

.col-social{
    font-weight: bold;
    margin-top: 10px;
    background-color: pink;
}

.col-social a {
    font-weight: bold;
    font-size: 15px;
    background-color: pink;
    text-decoration: none;
    color:black;
    padding-top: 5px;
}

.col-social :hover{
    color: palevioletred;
}

.products{
    background-color: pink;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
}

.card-img-top{
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-content: center;
    align-items: center;

}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 229.59cm x 529.19cm;
}

#carouselExampleFade{
    width: 150px;
    height: 150px;
}

#navbarNav{
    background-color: aqua;
}

.carousel-item{
    flex: 0 0 auto;
    transition: transform 0.5s ease;
}

































.footer {
    background-color: pink;
    width: auto;
    height: auto;
}

footer {
    align-content: center;
    width: auto;
    height: auto;
}

h3 {
    font-size: small;
    font-family: $f1;
    font-style: oblique;
    font-weight: bold;
}